/*
  optimise main layout for 1024px width
*/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
    -webkit-margin-before: 0px; -webkit-margin-after: 0px; -webkit-margin-start: 0px; -webkit-margin-end: 0px;
    margin: 0px;
    padding: 0px;
}

header {
  background: url('../img/header-desktop.jpg');
  background-size: cover;
  height: 678.4px;
  background-repeat: no-repeat;
  border-bottom: 5px solid #73c63a;
}

#vision {
  margin: 0 auto;
  background-color: white;
  height: 350px;
  width: 1024px;
}

#benefits {
  background: url('../img/2-bg.png');
  background-size: 100% 678.4px;
  background-repeat: repeat-x;
  width: 100%;
  height: 678.4px;
}

#howitworks {
  margin: 0 auto;
  background-color: white;
  height: 350px;
  width: 100%;
}

#worldteam {
  background: url('../img/5-bg.png');
  background-repeat: repeat-x;
  width: 100%;
  height: 600px;
}

footer {
  width: 100%;
  height: 350.57px;
  background: url('../img/footer-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#vision h1 {

}

#headercontent {
  color: white;
  margin: 0 auto;
  width: 1024px;
  height: 528.4px;
  padding-top: 150px;
  text-align: justify;
}

#headerleft {
  float: left;
  width: 40%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%
}

#headerright {
  float:left;
  width: 40%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%
}

header p {
  display: inline;
  font-size: 14px;
}

header h2 {
  display: inline-block;
  padding: 0px;
  margin: 40px 10px 0px 0px;
  padding: 2px 5px 2px 5px;
  font-size: 14px;
  background-color:rgba(0, 0, 0, 0.3);
}

#visioncontent {
  margin: 0 auto;
  width: 1024px;
  height: 100%;
}

#visionleft {
  float: left;
  width: 50%;
  height: 100%;
}

#visionblank {
  float: left;
  width: 50%;
  height:33.3333%;
}

#visionright {
  float: left;
  width: 50%;
  height: 66.6666%;
}

#visionright h1 {
  font-size: 38px;
  color: #3491d2;
  font-weight: normal;
}

#visionimage {
  margin: 15%;
}

#benefitstop {
  padding-top: 60px;
  height: 118.4px;
  width: 100%;
  text-align: center;
}

#benefitstop h1 {
  color: white;
  font-weight: normal;
  font-size: 38px;
  padding-bottom: 10px;
}

#benefitstop p {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

#benefitscontent {
  margin: 0 auto;
  width: 1024px;
  height: 500px;
  color: white;
}

#benefitsleft {
  float: left;
  width: 33.3333%;
  height: 100%;
}

#benefitsmid {
  float: left;
  width: 33.3333%;
  height: 100%;
}

#benefitsright {
  float: left;
  width: 33.3333%;
  height: 100%;
}

.imagedesc {
  margin-top: -15px;
  font-weight: bold;
  height: 2em;
}

#benefitscontent img {
  margin: 20%;
}

#howcontent {
  margin: 0 auto;
  width: 1024px;
  height: 100%;
}

#howleft {
  float: left;
  width: 50%;
  height: 100%;
}

#howblank {
  float: left;
  width: 50%;
  height:33.3333%;
}

#howright {
  float: left;
  width: 50%;
  height: 66.6666%;
}

#howright h1 {
  font-size: 38px;
  color: #3491d2;
  font-weight: normal;
}

#howimage {
  margin: 10%;
}

#worldteam {
  text-align: center;
}

#worldteam h1 {
  color: white;
  font-weight: normal;
  font-size: 38px;
}

#worldteam button {
  background-color: #73c63a;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 100px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 5px #555;

}

#worldteam button:hover {
  background-color: rgb(133, 230, 68);
}

footer {
  color: white;
  text-align: center;
}

footer h1 {
  color: white;
  font-weight: normal;
  font-size: 38px;
}

footer button {
  background-color: #3491d2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 100px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 5px #555;

}

footer button:hover {
  background-color: rgb(63, 175, 255);
}