/*
  optimise main layout for 1024px width
*/

.content_width {
    width: 1022px !important;
}

.header_center{
    text-align: center;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    min-width: 320px;
    color: #505050;
    position: relative;
    margin: 0;
    padding-bottom: 150px;
    min-height: 100%;
}
.name .linkedin {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videocontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a,
a:visited,
a:link,
a:hover {
    text-decoration: none !important;
}
.karla {
    font-family: 'Karla', serif;
}
.opensans {
    font-family: 'Open Sans', sans-serif;
}
.whitepaper {
    padding-bottom: 20px;
    padding-top: 0;
    
    background-color: #F6F6F6; margin-bottom: 0px; min-height: 395px;
}
.whitepaper p {
    font-size: 20px;
    padding: 15px 0px 35px 0px;
}
.about p {
    font-size: 20px;
    padding: 40px 0px 80px 0px;
}
.justify {
    text-align: justify;
}
.about .item div {
    padding: 10px 0 5px 0;
}
.about .item div:nth-of-type(2) {
    text-align: justify;
    padding-bottom: 50px;
}
.team {
    padding-top: 50px;
}
.team img {
    width: 150px;
    height: 150px;
}
nav {
    display: block;
}
.green {
    color: #73c63a;
}
.black {
    color: #505050;
}
.blue {
    color: rgb(53, 145, 209);
}
.white {
    color: white;
}
.timeline {
    width: 450px;
    margin: 0 auto;
    padding-top: 30px;
}
.timeline .x {
    display: inline-block;
    margin-left: 50px;
    color: white;
    text-align: left;
}
.line {
    width: 2px;
    height: 48px;
    background-color: white;
    margin-left: 45px;
}
.vertical-center {
    display: flex;
    align-items: center;
}
section {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    overflow: hidden;
}

.pic1{
    display: inline-block;
    width: 95px;
}

.pic2{
    display: inline-block;
    width: 97px;
    margin-left: 25px;
}

.pic3{
    width: 45px;
    margin-left: 25px;
    margin-right: 110px;
}

.pic4{
        width: 50px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    left: -65px;
}

.pic5{
    width: 50px;
    margin-top: 17px;
    margin-left: 20px;
    position: relative;
    left: -45px;
}

@media(max-width: 1024px) {
    .pic1, .pic2, .pic3, .pic4, .pic5{
        display: inline-block;
    }

    .pic2{
        margin-right: 35px;
        position: relative;
        top: 5px;
     
    }
    .pic3{
         margin-left: 0px;
    margin-right: 0px;
    position: relative;
    left: -26px;
    top: 10px;
}
    

    .pic4{
        left: 0px;
        margin-right: 0px;
    }
    .pic5{
        left: 0px;
        margin-right: 0px;
    }
}

.numbers {   color: #FFFFFF; font-family: "Open Sans";   font-size: 48px;    font-weight: 300;   line-height: 60px;  text-align: center;}
.numbers1 {   color: rgba(255,255,255,0.6); font-family: "Open Sans";   font-size: 48px;    font-weight: 300;   line-height: 60px;  text-align: center;}

.timeline_text {
 
    color: #FFFFFF;
    font-family: Karla;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    text-align: left;
}

.timeline_text1{
       color: rgba(255,255,255,0.6);
    font-family: Karla;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    text-align: left;
}

.times {    color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px;}
.times1 {    color: rgba(255,255,255,0.6); font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px;}

.timeline_line {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #FFFFFF;
    background-color: white;
}

.opacit{
    opacity: 0.6;
}

button {
    outline: none;
}
h1,
h2,
h3 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0px;
    padding: 0px;
}
div {
    font-weight: normal;
}
.team .item {
    margin-bottom: 60px;
}
.team h1 {
    padding-bottom: 50px;
}
.name {
    text-align: center;
    color: #4a4a4a;
    font-size: 28px;
    padding: 10px 0;
}
.position {
    text-align: center;
    color: #3481d2;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
section h1,
.step_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 46px;
}
header {
    border-bottom: 5px solid #73c63a;
}
#mainlogo {
    width: 300px;
}
.bio {
    text-align: justify;
}

.vision {
    margin-top: 50px;
    background-color: white;
}
.vision div.image {
    margin-top: 25px;
}
.benefits {
    background: url('../img/2-bg.png') repeat-x;
    display: block;
    width: 100%;
    background-size: auto 100%;
}
.howitworks {
    background-color: white;
    width: 100%;
}
.worldteam {
    background: url('../img/5-bg.png');
    background-repeat: repeat-x;
    width: 100%;
}
.worldteam .title {
    color: white;
}
.header {
    margin: 0 auto;
    width: 945px;
    /*background-image: url('../img/1-blockchainoverlay.png');*/
    
    background-image: url('../img/1-shadow.png');
    background-size: cover;
}
footer {
    width: 100%;
    height: 150px;
    background-color: black;
    text-align: center;
    color: white;
    /*margin-top: 50px;*/
    
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
footer img {
    margin-left: 10px;
}
#headertitle {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 160px;
    text-align: center;
}
#headertitle img {
    margin-top: 0px;
    max-width: 90%;
}
#headertitle h1 {
    color: white;
    font-size: 64px;
    letter-spacing: 15px;
    font-weight: lighter;
}
#headertitle h2 {
    color: white;
    font-size: 52px;
    font-style: italic;
    background-color: transparent;
    margin: -15px 0px 0px 0px;
    padding: 0px;
    letter-spacing: 10px;
    font-weight: lighter;
}
.headercontent {
    color: white;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-image: url('../img/1-shadow.png');
}
#headerleft {
    float: left;
    width: 40%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-top-left-radius: 10px;
    text-align: center;
}
#headerright {
    float: left;
    width: 40%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-top-right-radius: 10px;
}
#headerleft img {
    float: left;
    clear: both;
    margin-top: 0px;
}
#headerleft img:first-child {
    margin-top: 80px;
    width: 120px;
    height: 120px;
    margin-left: 175px;
}
#headerleft img:nth-child(2) {
    width: 250px;
    height: 250px;
    margin-left: 110px;
}
#headerleft img:nth-child(3) {
    width: 120px;
    height: 120px;
    margin-left: 170px;
}
header p {
    display: inline;
    font-size: 15px;
    text-shadow: 1px 0px 1px #bbb;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
header h2 {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
#headerright h2:nth-of-type(1) {
    margin-top: 110px;
}
#headerright h2:nth-of-type(2) {
    margin-top: 110px;
}
#headerright h2:nth-of-type(3) {
    margin-top: 125px;
}
.navbar {
    background-color: white;
}
.navbar .icon-bar {
    background-color: black;
}
.navbar-right a {
    font-family: "Open Sans";
    font-size: 15px;
}
.navbar .lang-holder .lang {
    color: #23527c;
    margin-left: 10px;
    font-size: 15px;
}
    .navbar .lang-holder .lang.selected {
        color: #505050;
        font-weight: bold;
    }
.selected_lang {
    color: #505050;
    font-weight: bold;
}
.navbar .lang-holder .lang:hover {
    cursor: pointer;
}
.navbar .lang-holder .separator {
    padding: 0 5px;
}
.navbar .lang-holder > div {
    padding: 15px 15px;
    font-family: "Open Sans";
    font-size: 15px;
    background-color: white;
}
.navbar .lang-holder > div:hover {
    cursor: default;
    background-color: white;
}






.article {  font-family: Karla; font-size: 16px;    line-height: 24px;  text-align: center;}




.whitepaper-terms-blo { height: 19px;   width: 250px;   color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 19px;  text-align: right;}



.mce_inline_error{
    border: 2px solid red !important;
    width: 75%;
    color: red;
}

#mc_embed_signup div.mce-success-response {
    color:black !important;
    margin-top: 10px !important;
}





#visionblank {
    float: left;
    width: 50%;
    height: 18%;
}
#visionright p {
    font-size: 20px;
    text-align: justify;
}
#visionright h1 {
    color: #3491d2;
    font-weight: 300;
    font-family: "Open Sans";
    line-height: 48px;
    font-size: 36px;
}
.headeline-images {
    max-height: 150px;
    margin: 10px;
}
.visionimage {
    max-height: 200px;
}
#image_people {
    background-image: url('../img/people.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 1500px;
}
#benefitstop {
    padding-top: 0px;
    width: 100%;
    text-align: center;
}
#benefitstop h1 {
    color: white;
    font-weight: 300;
    font-family: "Open Sans";
    font-size: 38px;
    padding-bottom: 10px;
    padding-top: 30px;
}
#benefitstop p {
    color: white;
    font-weight: normal;
    font-size: 16px;
}
#benefitscontent {
    margin: 0 auto;
    width: 960px;
    height: 470px;
    color: white;
    text-align: center;
    margin-top: -30px;
}
.new_fofoter {
    height: 108px;
    background: black;
}
.new_fofoter img {
    margin: 35 0 35 35;
    height: 38px;
}
#benefitsleft {
    float: left;
    width: 33.3333%;
    height: 100%;
}
#benefitsmid {
    float: left;
    width: 33.3333%;
    height: 100%;
}
#benefitsright {
    float: left;
    width: 33.3333%;
    height: 100%;
}
.imagedesc {
    margin-top: -20%;
    font-weight: bold;
    line-height: 24px;
    color: white;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
#benefitscontent img {
    margin: 30%;
}
.benefitsp {
    padding: 0px 40px 0px 15px;
    margin: 10px;
    color: white;
    background-size: auto 100%;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
#howcontent {
    margin: 0 auto;
    width: 960px;
    height: 100%;
}
#howleft {
    float: left;
    width: 50%;
    height: 100%;
}
#howblank {
    float: left;
    width: 50%;
    height: 30%;
}
#howright {
    float: left;
    width: 50%;
    height: 66.6666%;
}
#howright p {
    padding-right: 15%;
    font-size: 16px;
    text-align: justify;
}
#howright h1 {
    font-size: 38px;
    color: #3491d2;
    font-weight: normal;
}
#howimage {
    margin: 10%;
    margin-top: 15%;
}
#image_light {
    background-image: url('../img/light.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 1500px;
}
#worldteam {
    text-align: center;
}
#worldteam p {
    margin: 20px auto 10px auto;
    font-size: 16px;
    font-weight: normal;
    width: 50%;
}
#worldteam img {
    margin-top: -5px;
    width: 583px;
    height: 298px;
}

#worldteam h1 {
    color: white;
    font-size: 38px;
    margin-top: 15px;
    font-weight: normal;
}
#worldteam h2 {
    margin: 25px 0px 10px 0px;
    font-weight: normal;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}
#worldchain {
    height: 278px;
    width: 100%;
    background: url('../img/1-blockchainoverlay.png');
    background-size: cover;
}

footer img {
    margin-top: 30px;
    position: inline-block;
}
footer a,
footer a:hover,
footer a:visited {
    color: white;
}
footer .separator {
    padding: 0 5px;
}

.button:hover {
    background-color: rgb(63, 175, 255);
}
.button,
.button:link,
.button:hover,
.button:visited {
    text-decoration: none;
}
.img_height {
    height: 150px;
    text-align: center;
}
.top-buffer {
    margin: 0px;
}
.custom_container {
    margin: 0 auto;
}
.custom_container_ico {
    margin: 0 auto;
}
.bootom_margin {
    margin-bottom: 20px;
}
.carousel {
    
}
.carousel .item {
    position: relative;
    height: 100%;
    text-align: center;
}
.carousel .item span {
    position: relative;
    top: 10%;
    color: white;
    font-weight: 300;
    font-family: "Open Sans";
    font-size: 48px;
}
.pagewidth {
    width: 320px;
}
/* header chart */

.info {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    padding: 36px;
    margin: 0;
    margin-top: 20px;
}
.info .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 505px;
    background-color: rgba(0, 0, 0, 0.45);
    display: none;
}
.info .chart-wrapper {
    height: 100%
}
.info .chart {
    height: 100%;
}
.info .data {
    height: auto;
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    padding: 25px 20px;
    background-color: rgba(0, 0, 0, 0.45);
}
.info .data h1 {
    color: white;
    text-align: center;
}
.info .data h3 {
    color: white;
    text-align: center;
}
.info .data .left {
    position: relative;
    margin-top: 60px;
}
.info .data .left .row {
    /*width: 500px;*/
    /*margin: 0 auto;
    
    margin-bottom: 90px;*/
}
.info .data .left .row.last {
    margin-bottom: 30px;
}
.info .data .left .value {
    color: white;
    font-size: 48px;
    font-weight: 300;
    /*margin: 0 auto;*/
    
    text-align: center;
    /*min-width: 400px;
                max-width: 400px;*/
    
    font-family: 'Karla', sans-serif;
}
.info .data .left .desc {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: 'Karla', sans-serif;
}
.info .data .left .round-btn {
    display: block;
    background-color: rgb(115, 198, 58);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 13px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
.info .data .left .round-btn:hover {
    text-decoration: none;
    cursor: pointer;
}
.info .data img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.info .data .row.countdown {
    position: absolute;
    top: 40;
    right: 0;
}
.info .data .row.countdown .desc {
    display: block;
    width: 130px;
    margin: 0 auto;
}
#chart-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 430px;
    height: 430px;
}
#background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: initial !important;
    opacity: 0.6;
}
#indicator {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: initial !important;
}
#container {
    position: absolute;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 100%;
    transform: rotate(-180deg);
}
#k3 {
    position: absolute;
    top: 245px;
    left: 100px;
}
#k15 {
    position: absolute;
    top: 115px;
    left: 130px;
}
.exchange_image {
    height: 150px;
    width: 150px;
    margin: 0px;
}
#k30 {
    position: absolute;
    top: 225px;
    left: 360px;
}
.info #chart-container .l {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: gray;
}
.info #chart-container .l.selected {
    color: black;
    font-weight: bold;
    /*-webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;*/
}
.test ol li {
    list-style-type:lower-alpha;
}
.step_content ol:not([type="a"]):not([type="I"]) {
    counter-reset: item
}

    .step_content ol:not([type="a"]):not([type="I"]) > li {
        display: block
    }

        .step_content ol:not([type="a"]):not([type="I"]) > li:before {
            content: counters(item, ".") " ";
            counter-increment: item
        }




.emailPlaceholder::-webkit-input-placeholder {
    height: 24px;   
    width: 237.66px;    
    color: #000000; 
    font-family: Karla; 
    font-size: 16px;    
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
}

.emailPlaceholder::-moz-placeholder {
    height: 24px;   
    width: 237.66px;    
    color: #000000; 
    font-family: Karla; 
    font-size: 16px;    
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
}
.emailPlaceholder::-ms-input-placeholder {
    height: 24px;   
    width: 237.66px;    
    color: #000000; 
    font-family: Karla; 
    font-size: 16px;    
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
}

.download-pdf { 
    height: 19px;   
    width: 258.96px;    
    color: #FFFFFF; 
    font-family: Karla; 
    font-size: 16px;    font-weight: bold;  line-height: 19px;  text-align: center;}

.rectangle-5 {  

    height: 48px !important;   
    width: 260px !important;    
    border-radius: 11px;    
    background-color: #3491D2;  
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
     font-family: Karla !important; 
    font-size: 16px !important;    font-weight: bold;  line-height: 19px;  text-align: center;
}

#mce-EMAIL{    height: 48px !important;   width: 260px !important;    border: 1px solid #B4B4B4;  border-radius: 6px !important; background-color: #FFFFFF;}


.card_names {  color: #4A4A4A; font-family: "Open Sans";   font-size: 28px;    line-height: 42px;  text-align: center;}

.card_co-founder {  color: #3491D2; font-family: "Open Sans";   font-size: 16px;    font-weight: 600;   letter-spacing: 1px;    line-height: 42px;  text-align: center;}

.card_text { color: #505050; font-family: Karla; font-size: 16px;    line-height: 24px;  text-align: center;}


@media (max-width: 1500px) {
    .info .data .left .value {
        font-size: 40px;
    }
}
@media (max-width: 1160px) {
    #chart-container {
        height: 350px;
        width: 350px;
    }
    #k3 {
        position: absolute;
        top: 200px;
        left: 90px;
    }
    #k15 {
        position: absolute;
        top: 95px;
        left: 110px;
    }
    #k30 {
        position: absolute;
        top: 185px;
        left: 300px;
    }
}
@media(max-width: 1060px) {
    .navbar-nav>li>a {
        font-size: 14px;
        padding: 15px 10px !important;
    }
    .navbar .lang-holder .lang {
        font-size: 14px;
    }
    .navbar .lang-holder .separator {
        padding: 0 2px;
    }
}
@media (max-width: 700px) {
    .info .data .left .row {
        /*width: 300px;*/
    }
    .info .data .left .value {
        font-size: 32px;
        /*min-width: 250px;
        max-width: 250px;*/
    }
    .info .data h1 {
        font-size: 30px;
    }
    .info .data h3 {
        font-size: 20px;
    }
}
@media (max-width: 450px) {
    .info .data .left .value {
        font-size: 20px;
    }
    .info .data h1 {
        font-size: 24px;
    }
    .info .data h3 {
        font-size: 16px;
    }
    .info .data .left .round-btn {
        font-size: 14px;
    }
}
/* end header chart */

.milestones {
    width: 100%;
}
@media (min-width: 100px) {
    .navbar-brand {
        width: 200px;
    }

    
    section {
        padding: 0px 5px;
    }
    .video {
        padding: 0px;
    }
}
@media (min-width: 320px) {
    .navbar-brand {
        width: 230px;
    }
    #mainlogo {
        width: 300px;
    }

 /*   .custom_container {
        width: 320px;
    }*/
    .pagewidth {
        width: 320px !important;
    }
    .navbar .container-fluid {
        width: 100%;
    }
    .header {
        width: 320px;
        background-image: url('../img/1-shadow_s.png');
    }
    header h2 {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    header h2.sun {
        width: 77px;
    }
    header h2.blockchain {
        width: 105px;
    }
    header h2.peer {
        width: 117px;
    }
    .carousel .item span {
        font-size: 22px;
    }
    #visionright h1 {
        text-align: center;
    }
    .howitworks {
        padding: 40px 0;
    }
    .benefits {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .vision #visionright p {
        padding-top: 20px;
        text-align: center;
    }
    .howitworks #visionright p {
        padding-top: 20px;
        text-align: center;
    }
    .team .bio {
        padding: 0 50px;
    }
}

@media (max-width: 300px) {
    .info .data .left .round-btn {
        width: 150px;
    }
    .about p {
        font-size: 14px;
        padding: 20px;
    }
    .about .item div:nth-of-type(2) {
        padding: 50px;
    }
    section h1 {
        font-size: 32px;
    }
    #visionright h1 {
        font-size: 32px;
    }
    .vision #visionright p, 
    .howitworks #visionright p,
    .whitepaper p {
        font-size: 18px;
        padding: 0 20px;
    }
    .whitepaper p {
        padding: 20px
    }
    .button {
        padding: 15px 75px;
    }
    .timeline {
        padding-left: 20px;
    }
    .timeline .x {
        margin-left: 20px;
    }
    .timeline .x div {
        width: 165px;
    }
    footer img {
        margin-top: 10px;
        margin-left: 5px;
        width: 30px;
    }
    footer div {
        margin-top: 20px;
        font-size: 14px;
    }
    .name, .position {
        width: 250px; 
        margin: 0 auto;
    }
    .bio {
        padding: 0 50px;
    }
}

    .menu_mobilev{
        text-align: left;   
            color: #3491D2; font-family: Karla; font-size: 21px;    font-weight: bold;  line-height: 60px;
            padding-left: 15px;
    }



@media(max-width: 768px){
    .section_sponsors{
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        width: auto;
    }
    .navbar .container-fluid {
        width: auto;
    }

        .mobile_choose_langugae{
        display: none !important;
    }

        .mobile_choose_langugae3{
        display: none !important;
    }

    .navbar-right {
	    float: right!important;
	    margin-right: -30px!important;
    }
    #mainlogo {
        width: 500px;
    }

 /*   .custom_container {
        width: 768px;
        height: auto;
    }*/
    .custom_container_ico {
        width: 865px;
    }
    .pagewidth {
        width: 768px !important;
    }
    .navbar .container-fluid {
        width: 800px;
    }
    .header {
        width: 768px;
        background-image: url('../img/1-shadow_s.png');
    }
    header h2 {
        display: inline-block;
        width: auto !important;
    }
    .carousel .item span {
        font-size: 32px;
    }
    .vision {
        padding-top: 15px;
    }
    #visionright h1 {
        text-align: center;
    }
    .howitworks {
        padding: 40px 0;
    }
    .benefits {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .benefitsp {
        padding: 0;
    }
    section {
        padding: 0px;
        padding-top: 50px;
    }
    .vision #visionright p {
        padding-top: 0px;
        text-align: justify;
    }
    .howitworks #visionright p {
        padding-top: 0px;
        text-align: justify;
    }
}

@media (min-width: 767px) {
    .about .item div:nth-of-type(2) {
        text-align: center;
    }
}
@media (min-width: 1030px) {
    #mainlogo {
        width: auto;
    }


    .custom_container_ico {
        width: 1022px;
        padding: 10px;
    }
    #visionright h1 {
        text-align: left;
    }
    .pagewidth {
        width: 1022px !important;
    }
    .navbar .container-fluid {
        width: 1022px;
    }
    .header {
        width: 1022px;
        /*padding-top: 70px;*/
    }
    .carousel {
        
        background: rgba(0, 0, 0, .5);
    }
    .carousel .item span {
        position: relative;
        top: 10%;
        color: white;
        font-weight: 300;
        font-family: "Open Sans";
        font-size: 48px;
    }
    .world {
        height: 300px;
    }
    .about .item div:nth-of-type(2) {
        text-align: justify;
    }
}

.blogs {
    background-color: rgb(114, 197, 58);
    padding-top: 30px;
    height: 500px;
}
.blogs .title {
    color: white;
    text-align: center;
    font-size: 46px;
    font-weight: 300;
}
.blogs .row {
    margin: 0;
    margin-top: 40px;
}
.blogs .blog-wrapper {
    width: 957px;
    margin: 0 auto;
}
.blogs .blog-item {
    background-color: white;
    margin-right: 30px;
    padding-top: 12px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 17px;
    width: 299px;
    height: 252px;
}
.blogs .blog-item.last {
    margin-right: 0px;
}
.blogs .blog-item .title {
    color: #3491d2;
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 10px;
}
.blogs .blog-item .date {
    color: gray;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.blogs .blog-item .summary {
    color: black;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.blogs .blog-item .more {
    display: block;
    color: #3491d2;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.blogs .blog-item .more:hover {
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 992px) {
    .blogs {
        height: 1020px;
    }
    .blogs .blog-wrapper {
        width: 285px;
    }
    .blogs .blog-item {
        margin-bottom: 30px;
    }
}


    .tokensale {
        padding-top: 0px;  
        min-height: 588px;
    }


@media (min-width: 1020px){
    #top_image {
        background-image: url('../img/solar-panel.jpg');
        background-repeat: no-repeat;
        background-size: 100% 725px;
        width: 100%;
        margin: 0 auto;
        height: 680px;
        overflow: hidden;
    }

    .section_news{
    height: 753px;  background-color: #E4E4E4;
}


    .section_sponsors{margin-top: 50px; margin-bottom: 30px; ;  font-size: 36px;    line-height: 60px;}


    .news_carousel_inner_div{
        padding-left: 30px;
        padding-right: 30px;
    }

    .header_logo{
        width: 50%; 
        margin-top: 110px;
    }

    .custom_container {
        text-align:center;
        width: 1020px;
        padding: 10px;
    }

    .crowdsale-started-ju { 
    height:70px;  
    width: 807px;   
    color: #FFFFFF; 
    font-family: "Open Sans";   
    font-size: 28px;    
    line-height: 42px;  
    text-align: center;
    margin: auto;
}

    .row_margin_desktop{
        margin-top: 82px;
    }

    .subscribe {    
    height: 60px;
    width: 213px;  
    color: #3491D2; 
    font-family: "Open Sans";  
    font-size: 48px;  
    font-weight: 300; 
    line-height: 60px; 
    text-align: center;
    margin: 80px auto 50px auto;
    }
    

    .button {
    background-color: #3491d2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 15px 100px;
    border-radius: 15px;
    font-weight: normal;
    box-shadow: 0px 0px 5px #555;
    }

    #mc_embed_signup div.mce_inline_error{
    width: 260px !important;
    position: relative !important;
    left: 385px;
    bottom: 2px;
    margin: auto;
    background-color: red !important;
    border-radius:0px 0px 6px 6px; 
    color: white !important;
    }



    .line-2 {   box-sizing: border-box; height: 107px;  width: 3px; border: 1px solid #FFFFFF; float: left; background-color: rgba(255,255,255,1);}
    .exchanges {height: 24px;   width: 94px;    color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px; margin-left: 9px;}
    .line-3 {   box-sizing: border-box; height: 100%;   width: 3px; border: 1px solid #FFFFFF; float: left; background-color: rgba(255,255,255,1);}
    .exchange_picture_1{float: left; margin-left: 15px; margin-top: 28px;}
    .exchange_picture_2{float: left; margin-left: 35px; margin-top: 28px;}
    .section2_padding{padding-left: 37.5px;}
    .section2_padding2{padding-left: 50px;}
    .wallets {  height: 16px;   width: 69px;  margin-left: 9px; margin-bottom: 4px;  color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px;}
    .token-wallet-coinmark {  color: #FFFFFF; font-family: Karla; font-size: 16px;    line-height: 19px; text-align: left; margin-left: 12px;}
    .section2_secondcolumn{height: 40px; margin-top: 0px;}
    .buy-with-snc { height: 24px; width: 112px; color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 18px;  margin-left: 9px;}
    .sonce-group-solar-po { height: 72px;   width: 264px; text-align: left; margin-left: 12px;  color: #FFFFFF; font-family: Karla; font-size: 16px;    line-height: 24px;}
    .subscribe-now-to-joi { height: 84px;   width: 100%;   color: #393939; font-family: "Open Sans";   font-size: 28px;    line-height: 42px;  text-align: center;}
    .sponsor_picture {width: 100%;}
    .section_sponsors{margin-top: 50px; margin-bottom: 30px;}
    .map_bg {background: url(../img/timeline_podlaga.png) no-repeat left; height:100%;}


    .timeline_line {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #FFFFFF;
    background-color: white;
    }

        .timeline_line1 {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #FFFFFF;
    float: right; margin-right: 50px; width: 90px; margin-top: 10px;
    background-color: white;
    }
        .timeline_line2 {
    box-sizing: border-box;
    height: 2px;
    background-color: white;
    border: 1px solid #FFFFFF;
    float: right; margin-right: 50px; width: 330px; margin-top: 10px;
    }
        .timeline_line {
    box-sizing: border-box;
    height: 2px;
    background-color: white;
    border: 1px solid #FFFFFF;

    }

    .roadmap {
    background: linear-gradient(rgb(114, 197, 58), rgb(53, 145, 209));
   /* padding: 60px 0 100px 0;*/
   padding-top: 0px !important;
   padding-left: 50px; 
   height: 1120px;
   min-height: 1128px !important;
}    
    .timeline_mobile{
        display: none;
    }

    .space_mobile{
        display: none;
    }

    .timeline_desktop{
        padding-top: 0px;
    }

    .sonce-ico { color: rgba(255,255,255,0.5); margin-left: 10px;   font-family: "Lucida Grande",  "Verdana";   font-size: 16px;    line-height: 24px;  text-align: right;}


    
}


/* 12345*/
@media (width: 1020px){
        .custom_container {
        width: 1020px !important;
        padding: 10px;
    }

       .line-2 {display: block !important;   box-sizing: border-box; height: 107px;  width: 3px; border: 1px solid #FFFFFF; float: left; background-color: rgba(255,255,255,1);}
    .exchanges {height: 24px;   width: 94px;    color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px; margin-left: 9px;}
    .line-3 {  display: block !important; box-sizing: border-box; height: 100%;   width: 3px; border: 1px solid #FFFFFF; float: left; background-color: rgba(255,255,255,1);}
    .wallets { color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px; margin-bottom: 0px;}
    .section2_topmargin{ margin-top: 0px !important;}
     .buy-with-snc { height: 24px !important; width: 112px !important; color: #FFFFFF; font-family: Karla; font-size: 16px !important;    font-weight: bold;  line-height: 18px !important;  margin-left: 9px !important; margin-top: 0px !important}
         .header_logo{
        width: 50% !important; 
        margin-left: 25% !important; 
        margin-top: 110px !important;
    }
        .news_mobile_display{
        display: block !important;
    }
        .timeline_desktop{
        display: block !important;
    }

}

@media (max-width: 330px){
    .crowdsale-started-ju { 
    
    width: 318px !important;
    color: #FFFFFF; 
    font-family: "Open Sans";   
    font-size: 20px;    
    line-height: 27px;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    margin-left: -19px;
    }

    .custom1{
        width: 280px !important;
    }
}

@media (max-width: 1020px){
    
    .space_mobile{
        height: 10px;
    }

    .timeline_mobile{
        padding-left: 0px;
    }

    .section_news{
    height: 650px;  background-color: #E4E4E4;
}


        .section_sponsors{ margin-bottom: 30px; ;  
        color: #000000; font-family: "Open Sans";   font-size: 36px;    line-height: 48px;  text-align: center;}

    .n_carousel{
    height: 450px !important; 
        }

    .news_mobile_display{
        display: none;
    }

        .cookies_height{
        height: 120px !important;
        position: fixed; bottom: 0px; display: none; z-index: 3; width: 100%; background-color: white;
    }
    .about_margin{margin-top: 49px;}

    .timeline_desktop{
        display: none;
    }

    .sonce-ico { color: rgba(255,255,255,0.5);   font-family: "Lucida Grande",  "Verdana"; margin-top: 10px;  font-size: 16px;    line-height: 44px;  text-align: right;}


    .roadmap {
    background: linear-gradient(rgb(114, 197, 58), rgb(53, 145, 209));
   /* padding: 60px 0 100px 0;*/
    padding-top: 0px !important;
    min-height: 630px;

}


    #top_image {
    background-image: url('../img/header_image_m.png');
    background-repeat: no-repeat;
    background-size: 100% 375px;
    width: 100%;
    margin: 0 auto;
    height: 366px !important;
    }

    .header_logo{
        width: 260px ; 
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 50px !important;
    }

    .custom_container {
        width: 320px;
        padding: 10px;
    }

    .button {
    background-color: #3491d2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 15px 100px;
    border-radius: 15px;
    font-weight: normal;
    box-shadow: 0px 0px 5px #555;
}
    .crowdsale-started-ju { 
    
    width: 338px;
    color: #FFFFFF; 
    font-family: "Open Sans";   
    font-size: 20px;    
    line-height: 27px;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    margin-left: -19px;
    }
        .row_margin_desktop{
        margin-top: 50px;
    }

    .subscribe {    
    color: #3491D2; 
    font-family: "Open Sans";    
    font-weight: 300; 
    font-size: 36px;    
    line-height: 48px; 
    text-align: center;
    margin: 50px auto 25px auto;
    }

    #mc_embed_signup div.mce_inline_error{
    width: 260px !important;
    position: relative;
    margin:auto !important;
    bottom: 7px;
    background-color: red !important;
    border-radius:0px 0px 6px 6px; 
    color: white !important;
    }


    .line-2 { display: none; }
    .exchanges { height: 24px; color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px; text-align: center;}
    .line-3 {display: none}

    .exchange_picture_1{ padding: 2%; width: 40% !important; max-width: 142px;}
    .exchange_picture_2{ padding: 2%; width: 40% !important; max-width: 102px;}
    .section2_topmargin{ margin-top: 40px;}
    .wallets { color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 24px; margin-bottom: 0px;}
    .token-wallet-coinmark {  color: #FFFFFF; font-family: Karla; font-size: 16px;    line-height: 19px; text-align: center; margin-left: 12px;}
    .section2_secondcolumn{height: 40px; margin-top: 25px;}
    .buy-with-snc { color: #FFFFFF; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 18px; text-align: center; margin-top: 90px;}
    .sonce-group-solar-po { margin-bottom: 50px; text-align: center;   color: #FFFFFF; font-family: Karla; font-size: 16px;    line-height: 24px;}
    .subscribe-now-to-joi { width: 100%;   color: #393939; font-family: "Open Sans";    font-size: 20px;   line-height: 36px;  text-align: center;}



}

.row_first_mobile_tl{
    margin-top: 30px;
    }

.cookies_height{
    height: 96px;
    position: fixed; bottom: 0px; display: none; z-index: 3; width: 100%; background-color: white;
    }

.cookies_notification{
    height: 24px;      
    color: #000000; 
    font-family: Karla; 
    line-height: 24px;
    font-weight:bold; 
    font-size: 16px; 
    padding-top: 24px; 
    text-align: center;
}

.mobile_number_tl {color: #FFFFFF; font-family: "Open Sans";   font-size: 48px;    font-weight: 300;   line-height: 60px;  text-align: center;}

.mobile_text_tl {color: #FFFFFF; font-family: Karla; font-size: 16px; margin-top: 3px;   line-height: 24px; text-align: left;}


@media (min-width: 970px){

    .opacitiy_mobile{
        opacity: 0.6;
    }

    .footer_for_desktop{
        height: 108px; margin-top: 0px;
    }

    .footer_div {
        margin: 45px 0 0 0;
        font-size: 18px;
        padding: 0;
        float: right; width: 480px;
    }

    .icon_groups{
        float: left; margin-top:5px; height: 95%; padding-left: 15px;
    }
    
    .br-nodisplay {
        display: none !important;
    }
}

@media (max-width: 970px){
        .footer_for_desktop{
        min-height: 180px;
    }

    .footer_div {
        font-size: 18px;
        margin-bottom: 20px;
    }

}

@media (max-width: 1020px){


    .button {
    background-color: #3491d2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 15px 20%;
    border-radius: 15px;
    font-weight: normal;
    box-shadow: 0px 0px 5px #555;
}
}

@media (min-width: 540px){

    .custom_padding1{
        padding-right: 0px;
        width: 45%;
        float: left;
    }
    .custom_padding2{
        padding-left: 0px;
        width: 55%;
        float: right;
    }
}

@media (max-width: 540px){

    .space{background-color: white; height: 140px; width: 100%;}

    .footer_for_desktop{
        height: 260px !important;
        margin-top: 30px;
    }
        .footer_div {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

        .custom_padding1{
        padding-left: 0;
        padding-top: 10px;
        width: 100%;
    }
    .custom_padding2{
        padding-left: 0px; 
        width: 100%;
    }
}

.navbar_new_font{color: #3491D2; font-family: Karla; font-size: 16px;    font-weight: bold;  line-height: 19px;  text-align: right;}

@media (max-width: 767px) {
    
    .desktop_lan_choose{
        display: none !important;
    }

    .mobile_choose_langugae{
        text-align: left; padding-left: 25px; margin-bottom: 20px;

    }

    .mobile_choose_langugae3{
        text-align: left; color: grey; padding-left: 25px; margin-top: 20px;
                    margin-bottom: 30px; 
    }

    .mobile_lang{
        margin-left: 5px;
        margin-right: 5px;
    }
    .mobile_lang1{
        
        margin-right: 5px;
    }
}

.menu_mobile_closed{
    background: url(../img/menu.svg) center; height: 46px; width: 50px; margin-top: 0px; margin-bottom: 4px; margin-right: 5px;
}

.menu_mobile_open{
    background: url(../img/menux.svg) center; height: 46px; width: 50px; margin-top: 0px; margin-bottom: 4px; margin-right: 5px;
}


    .sponsor_picture1 {width: 117px;}
    .sponsor_picture2 {width: 100px;}
    .sponsor_picture3 {width: 120px;}
    .sponsor_picture4 {width: 107px;}

.clipped{
      clip-path: inset(0px 0px 490px 0px); 
      height: 1128px; width: 400px; position: absolute; right: 610px; background: url('../img/timeline-crtice-01.svg') center no-repeat;
}

.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}


.news_title{
        color: #3491D2; font-family: "Open Sans" !important;   font-size: 24px !important;    line-height: 35px;
        width: 260px; margin-left: 20px; margin-right: 20px;  word-wrap: break-word; text-align: left;
}

.news_date{
        color: rgba(0,0,0,0.3) !important; font-family: Karla !important; font-size: 16px !important;    font-weight: bold;  line-height: 24px;
            text-align: left; width: 260px; margin-left: 20px; margin-right: 20px;
    }


.news_text{
        color: #000000; font-family: Karla !important; font-size: 16px !important;    line-height: 24px;
        overflow: hidden; text-align: left; width: 260px; margin-left: 20px; margin-right: 20px;
}

.news_readmore{
        color: #3491D2; font-family: Karla !important; font-size: 16px !important;    font-weight: bold;  line-height: 24px;
        text-align: left !important; display: block;  margin-right: 20px; margin-left: 20px; padding-bottom: 15px;}
}

 .ne {

   border: 1px solid red !important;
   border-radius: 10px;
 }

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: transparent;
    border: solid 2px #9B9B9B ;
}
.carousel-indicators .active {
        background: #9B9B9B;
        border: none;
}


.n_carousel{
    height: 500px; margin-top: 0px; background: transparent;
}

.news_carousel_div{
    height: 400px;
}

.card_div{
    width: 300px; min-height: 100px; margin:auto; background-color: white;
}

.card_image{
    margin-bottom: 10px;
}

.learn_more_cookies{
    color: grey; text-decoration: underline; 
}

.allow_cookies{
    margin-left: 5%; height: 48px; width: 108px;
}

.navbar_height{
    max-height:450px;
}

.header_image{
    position: relative; top:50px; z-index: -1
}

.section2_main{
    background-color: #3491D2; min-height: 482px;
}

.sec2_top{
    height: 40px !important;
}

.form_top_margin{
    margin-top: 50px;
}

.form_input_div{
    margin: auto;
}

.form_input_div2{
    padding-top: 10px;
}

.email_input{
    width: 100%;
}

.res_neg{
    display: none;
}

.res_pos{
    color:black !important;  
    width: 80%;
    margin-left: 10%; 
    margin-bottom: 10px; 
}

.form_hidden{
    position: absolute; left: -5000px;
}

.form_but_mar{
    padding-top: 10px;
}

#about{
    background-color: #73C63A;
}

.white_bg{
    background-color: white;
}

.whitepaper_h1{
    color: #505050; margin-bottom: 60px; margin-top: 95px;
}

.whitepaper_a{
    font-size: 16px;
}

.footer_icons_inline{
    display: inline-block; background-color: black; margin-top: 0px;
}

.github_icon{
    width: 38px;
}

.middle{
    margin-left: 15px; margin-right: 15px;
}

.roadmap_h1{
    padding-top: 100px;
}

.width_100{
    width: 100%;
}

.timeline_one{
    margin-top: 95px; position: relative; left: 50px;
}

.timeline_one_span{
    position: relative; left: 70px;
}

.timeline_dot_image{
    position: relative; bottom:3.5px; right: 2px;
}

.timeline_div_one{
    text-align: left; margin-top: 90px;
}

.timeline_text_one{
     margin-top: 90px;
}

.timeline_two{
    margin-top: 48px; position: relative; left: 50px;
}

.timeline_two_span{
    position: relative; right: 40px;
}

.timeline_two_div{
    text-align: left; margin-top: 43px;
}

.tl_mar_top1{
    margin-top: 43px;
}

.width_100_opacity{
    width: 100%; 
    color: rgba(255,255,255,0.6);
}

.timeline_three{
    margin-top: 105px; position: relative; left: 50px;
}

.timeline_three_span{
    position: relative; left: 70px;
}

.timeline_three_div{
    text-align: left; margin-top: 100px;
}

.tl_mar_top2{
    margin-top: 100px;
}

.timeline_four{
    margin-top: 0px; position: relative; left: 50px;
}
.timeline_five{
    margin-top: 32px; position: relative; left: 50px;
}

.timeline_four_span{
    position: relative; right: 40px;
}

.timeline_five_span{
position: relative; left: 50px;
}


.timeline_four_div{
    text-align: left; margin-top: 0px;
}
.timeline_five_div{
    text-align: left; margin-top: 25px;
}

.tl_mar_top3{
    margin-top: 0px;
}

.tl_mar_top4{
    margin-top: 25px;
}

.timeline_mobile_line{
    line-height: 27px;
}

.timeline_mobile_line1{
    line-height: 30px;
}
.mobile_display_block{
    display: block;
}

.timeline_pad{
    padding-top: 50px;
}

.mob_timeline_padding_bottom{
    padding-bottom: 50px;
}

.noscript_image{
    display: none !important;
}

.noscript_frame{
    display:none !important;
    visibility:hidden !important;
}

.white_color{
    color: white;
    opacity: 1;
}