/* global */
body 	{ background: white; }
.row  { margin-left: 0px; margin-right: 0px;}
.vertical-center { display: flex; align-items: center; }
.gradient {
	background: rgb(114, 197, 58); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgb(114, 197, 58), rgb(53, 145, 209)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(114, 197, 58), rgb(53, 145, 209)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(114, 197, 58), rgb(53, 145, 209)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(114, 197, 58), rgb(53, 145, 209)); /* Standard syntax */
}

.custom_container {
    padding-left: 50px;
}

.custom_devider {
    margin:0px;
}


.header .menu .selected{
    color:black;
}

.karla { font-family: 'Karla', serif; }
.opensans { font-family: 'Open Sans', sans-serif; }

.sun_container{
    padding: 20px 0; padding-left: 50px; padding-right: 30px; overflow: hidden; 
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nopadding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.header { background: white; padding: 20px 0; padding-left: 50px; padding-right: 30px; overflow: hidden; }
.header .logo { float: left; }
.header .menu { float: right; padding: 0px; letter-spacing: 1px; }
.header .menu a { color: rgb(52, 145, 210); font-size: 16px; font-weight: bold; padding: 0px 20px; }
.header .menu a:hover { text-decoration: none; cursor: pointer; }
.header .menu-btn { background-image: url("../images/menu.png"); background-repeat: no-repeat; background-size: 100% 100%; float: right; display: none; width: 25px; height: 25px; }
.header .menu-btn:hover { cursor: pointer; }

.new_footer{
    height: 108px;
    background: black;
}

    .new_footer img {
        margin: 35px 0 35px 35px;
        height: 38px;
    }


.info { position: relative; background-image: url("../images/header.jpg"); background-repeat: no-repeat; background-size: 100% 100%; height: 505px; padding: 36px; }
.info .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 505px; background-color: rgba(0, 0, 0, 0.45); display: none;}
.info .chart-wrapper { height: 100%; }
.info .chart { height: 100%; }
.info .data { height: 100%; margin: 0px; padding-top: 22px; background-color: rgba(0, 0, 0, 0.45); }

.info .chart .progress-background { height: 100%; width: 180px; padding-right: 0px; padding-left: 0px; background-color: rgba(255, 255, 255, 0.3); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.info .chart .label-wrapper { height: 100%; width: 125px; padding-right: 0px; padding-left: 0px; }

.info .chart .cprogress-bar { background: rgb(115, 198, 58); height: 0%; transition: height 1.4s ease; }
.info .chart .line { position: absolute; width: 180px; height: 1px; background-color: black;}
.info .chart #middle { top: 250px; }
.info .chart #bottom { top: 60px; }

    .info .chart .label_white {
        display: block;
        color: white;
        font-size: 16px;
        white-space: normal !important;
        text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
    }
    .info .chart .label_black{
        display: block;
        color: black;
    }
    .info .chart .custom_label {
        display: block;
        color: white;
        font-size: 16px;
        white-space: normal !important;
        text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
    }
        .info .chart #label3 { margin-top: 0px; }
.info .chart #label2 { margin-top: 150px; }
.info .chart #label1 { margin-top: 165px; }

.info .chart .desc { text-align: center; font-size: 15px; position: absolute; font-weight: bold; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.info .chart #desc1 { top: 320px; }
.info .chart #desc2 { top: 130px; }


.info .data .left .row { margin: 0px; margin-bottom: 18px;}
.info .data .left .value { color: white; font-size: 48px; font-weight: 300; }
.info .data .left .desc { color: rgba(255, 255, 255, 0.7); font-size: 16px; font-weight: bold; }
.info .data .left .round-btn { display: block; background-color: rgb(115, 198, 58); color: white; border: 1px solid black; border-radius: 10px; padding: 13px; width: 250px; text-align: center; font-size: 16px; }
.info .data .left .round-btn:hover { text-decoration: none; cursor: pointer;}

.info .data .right { border-left: 1px solid rgba(255, 255, 255, 0.5);}
.info .data .right .item { margin: 0px; margin-bottom: 18px;}
.info .data .right img { display: block; margin: 0 auto; margin-bottom: 8px;}
.info .data .right .desc { color: #fafafa; font-size: 16px; text-align: center;}

.description { text-align: center; width: 100%; background-color: white; color: #7b7b7b; font-size: 28px; padding-top: 114px; padding-left: 60px; padding-right: 60px;}

.features { background-color: white; padding-top: 120px; }
.features .item { margin-bottom: 50px; }
.features .item img { display: block; margin: 0 auto; margin-bottom: 23px; }
.features .item .title { text-align: center; font-size: 16px; font-weight: bold; margin-bottom: 5px; }
.features .item .more { text-align: center; font-size: 16px; padding: 0 100px; }

.download { margin-top: 95px; margin-bottom: 131px; }
.download .title { text-align: center; margin-bottom: 61px; color: #505050; font-size: 48px; font-weight: 300; }
.download .pdf { display: block; margin: 0 auto; text-align: center; padding: 10px 0px; width: 250px; background: rgb(52, 145, 210); color: white; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.download .pdf:hover { text-decoration: none; cursor: pointer; }

.shareholder .title { text-align: center; color: #73c63a; font-size: 48px; margin-bottom: 48px; font-weight: 300;}
.shareholder .more { text-align: center; color: #393939; font-size: 28px; padding: 0 100px; margin-bottom: 100px; }
.shareholder .item { margin-bottom: 50px; }
.shareholder .item img { display: block; margin: 0 auto; margin-bottom: 23px; }
.shareholder .item .title { color: black; text-align: center; font-size: 16px; font-weight: bold; margin-bottom: 5px; }
.shareholder .item .more { text-align: center; font-size: 16px; padding: 0 100px; }

.gradient { padding: 100px 0px; }
.timeline { width: 450px; margin: 0 auto; }
.gradient .timeline-title { color: white; font-size: 56px; text-align: center; margin-left: -105px; margin-bottom: 50px; font-weight: 300;}
.timeline img { display: inline-block; }
.timeline .x { display: inline-block; margin-left: 50px;}
.timeline .x .title { color: white; }
.timeline .x .more { color: white; font-weight: bold; }
.timeline .item .line { width: 2px; height: 48px; background-color: white; margin-left: 45px; }

.team { padding-top: 100px; }
.team .title { color: rgb(53, 145, 209); text-align: center; font-size: 46px; font-weight: 300; margin-bottom: 73px; }
.team .item { margin-bottom: 60px; }
.team .item img { display: block; margin: 0 auto; margin-bottom: 24px; width: 150px; height: 150px;}
.team .item .name { text-align: center; color: #4a4a4a; font-size: 28px; padding: 10px 0;}
.team .item .position { text-align: center; color: #3481d2; font-size: 16px; font-weight: 600; margin-bottom: 15px; }
.team .item .bio { text-align: center; color: #505050; font-size: 16px; padding: 0 15px; }

.blogs { background-color: rgb(114, 197, 58); padding: 100px 0; }
.blogs .title { color: white; text-align: center; font-size: 46px; font-weight: 300;}
.blogs .row { margin-top: 40px; }
.blogs .row .blog-wrapper { width: 1000px; margin: 0 auto; }
.blogs .blog-item { background-color: white; margin-right: 30px; padding-top: 12px; padding-left: 23px; padding-right: 23px; padding-bottom: 17px; width: 299px; height: 252px;}
.blogs .blog-item.last { margin-right: 0px; }
.blogs .blog-item .title { color: #3491d2; font-size: 28px; font-weight: normal; text-align: left; margin-bottom: 20px; }
.blogs .blog-item .date { color: gray; font-size: 16px; font-weight: bold; }
.blogs .blog-item .summary { color: black; font-size: 16px; }
.blogs .blog-item .more { display: block; color: #3491d2; font-size: 16px; font-weight: bold; margin-top: 10px; }
.blogs .blog-item .more:hover { text-decoration: none; cursor: pointer; }

.footer { background-color: black; margin: 0px; padding: 40px 36px; overflow: hidden;}
.footer .socio { float: left; }
.footer .company { width: 115px; margin: 0 auto; margin-top: 7px; }
.footer .links { float: right; margin-top: 7px;}

.footer .socio a { display: inline-block; margin-right: 35px; }
.footer .socio a img { display: block; width: 35px; margin: 0 auto; }
.footer .company { color: rgba(255, 255, 255, 0.5); text-align: center;}
.footer .links a { display: inline-block; color: white; font-weight: bold; text-align: center; padding: 0 20px; }
.footer .txt:hover { text-decoration: none;}
.login .footer_login {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.user .v-center {
     display:table;
    height:71px;
}

.user .v-center .content {
    display:table-cell;
    vertical-align:middle;
}
.user .deposit-row .buttton-align{
    text-align:right;
    float:right;
}
.error-box {
    border:2px solid white; 
    border-radius: 6px; 
    padding:20px; 
    color:white;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1100px) {
	.shareholder .item .more { padding: 0 50px; }
}

@media (max-width: 991px) {
    .header {
        padding: 20px 50px;
    }

    .sun_container {
        padding: 20px 50px;
    }

    .header .menu {
        visibility: hidden;
        height: 0px;
        float: none;
        clear: both;
    }

        .header .menu.show {
            visibility: visible;
            height: auto;
        }

        .header .menu a {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

    .header .menu-btn {
        display: block;
    }

    .info {
        padding: 20px 0px;
        height: auto;
        background-color: transparent;
    }

        .info .overlay {
            height: 100%;
            display: block;
        }

        .info .data {
            background-color: transparent;
        }

        .info .chart-wrapper {
            width: 400px;
            margin: 0 auto;
            padding-left: 70px;
        }

        .info .chart .progress-background {
            height: 250px;
        }

        .info .chart .label-wrapper {
            height: 250px;
        }

        .info .chart #middle {
            top: 135px;
        }

        .info .chart #label3 {
            margin-top: 0px;
        }

        .info .chart #label2 {
            margin-top: 80px;
        }

        .info .chart #label1 {
            margin-top: 75px;
        }

        .info .chart .desc {
            font-size: 12px;
        }

        .info .chart #desc1 {
            top: 160px;
        }

        .info .chart #desc2 {
            top: 77px;
        }

        .info .data .left .value {
            text-align: center;
        }

        .info .data .left .desc {
            text-align: center;
        }

        .info .data .left .round-btn {
            margin: 0 auto;
            width: 100%;
            max-width: 400px;
        }

        .info .data .right {
            width: 240px;
            border: 0px;
            margin: 0 auto;
            margin-top: 20px;
        }

            .info .data .right .item {
                margin-bottom: 40px;
            }

            .info .data .right .a {
                display: inline-block;
                margin-right: 20px;
            }

            .info .data .right .b {
                display: inline-block;
                margin-left: 20px;
            }

    .gradient .timeline-title {
        display: none;
    }

    .timeline {
        width: 400px;
    }

    .blogs .row .blog-wrapper {
        width: 300px;
    }

    .download .title {
        margin-bottom: 30px;
    }

    .shareholder .more {
        padding: 0 20px;
    }

    .shareholder .item .more {
        padding: 0 150px;
    }

    .team .item .bio {
        padding: 0 150px;
    }

    .blogs .item {
        margin-bottom: 20px;
    }

    .footer .socio {
        float: none;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

        .footer .socio a {
            width: 32%;
            margin: 0;
        }

    .footer .links {
        float: none;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

        .footer .links a {
            width: 32%;
            padding: 0;
        }

    .user .v-center {
        display: block;
        height: 71px;
    }

        .user .v-center .content {
            display: inline;
            vertical-align: middle;
        }
        .user .deposit-row .buttton-align{
    text-align:center;
    float:none;
}
}

@media (max-width: 580px) {
	.header { padding: 20px 20px; }
    .sun_container{
    padding: 20px 20px; 
}
	.shareholder .item .more { padding: 0 50px; }
	.features .item .more { padding: 0 50px; }
	.team .item .bio { padding: 0 50px; }

	.timeline { width: 300px; }
	.timeline .content img { width: 80px; }
	.timeline .x { width: 180px; margin-left: 20px; }
	.timeline .item .line { margin-left: 40px; }
}

@media (max-width: 420px) {
	.info .data .left .value { font-size: 36px; }
	.info .chart-wrapper { padding-left: 50px; }
	.timeline .x { width: 150px; margin-left: 10px; }
}

@media (max-width: 360px) {
	.header .logo { width: 150px; margin-top: 6px; }
	.info .chart-wrapper { width: 235px; padding: 0; }
	.info .chart .progress-background { width: 130px; }
	.info .chart .line { width: 130px; }
	.info .chart .label-wrapper { width: 70px; }
    .info .chart .label {
        font-size: 12px;
        white-space: normal !important;
    }
	.info .data .left .value { font-size: 30px; }

	.description { font-size: 25px; padding-left: 30px; padding-right: 30px; }

	.download .title { font-size: 40px; }

	.timeline { width: 200px; }
	.timeline .content img { width: 50px; }
	.timeline .item .line { margin-left: 26px; }
	.timeline .x .title { font-size: 11px; }
	.timeline .x .more { font-size: 12px; }

	.shareholder .title { font-size: 40px; }
	.shareholder .more { font-size: 20px; }
	.shareholder .item .more { padding: 0 20px; }

	.team .item .bio { padding: 0 20px; }
}

/* LOGIN */

.login { width: 100%; height: 100%; background-image: url("../images/header.jpg"); background-repeat: no-repeat; background-size: 100% 100%; }
.login .title { color: white; font-size: 48px; text-align: center; padding: 50px 0; font-weight: 300;}
.login .form { width: 350px; margin: 0 auto;}
.login .form .row { margin-bottom: 24px; }
.login .form img { width: 60px; }
.login .form .wrapper .errormsg { color: white; width: 250px; padding: 2px 15px; margin-left: -17px; margin-top: -2px; background-color: red; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; text-align: left; visibility: hidden; }
.login .form .input-wrapper { background-color: white; border-radius: 5px; width: 250px; height: 48px; }
.login .form .wrapper.error .input-wrapper { border: 2px solid red; }
.login .form .wrapper.error .errormsg { visibility: visible; }
.login .form input { width: 100%; height: 100%; color: black; background-color: transparent; border: 0px; }
.login .form .wrapper.error input { color: red; }
.login .form input:focus { outline-width: 0px; }
.login .form #key { margin-top: 10px; }
.login .form .login-btn  { color: white; background-color: rgb(115, 198, 58); border-radius: 10px; border: 2px solid black; text-align: center; padding: 12px 0; width: 250px; margin-left: 60px; cursor:pointer; margin-top:36px; }
.login .form .wrapper .row {font-family: 'Karla', serif;}
.login .form .first {
    margin-top: 40px;
}

.faq .title { color: #3491d2; font-size: 28px; font-weight: normal; text-align: left; margin-bottom: 20px; }
.header-image {
    background-image: url("../images/header.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    height:auto;
    display: block;
    text-align: center;
}
.background-shadow {
    background: rgba(0, 0, 0, .3);
    height:100%;
}

.user .title-funds {
    color: white; font-size: 48px;  
}
.user .title-margin {
    padding-top:53px;
    text-align:left;
    font-weight: 300;
    padding-bottom:50px;
}
.user .subtitle {
color: white; font-weight: bold;
}

.user .title {
    text-align:left;
    font-weight: 300;
    padding-top:47px;
    padding-bottom:35px;
    font-family: 'Open Sans', sans-serif;
    font-size:45px;
}
.user .bottom-padding {
    padding-bottom:35px;
}

/*
.user .deposit-raw {
    height:71px;
    vertical-align: middle;
     
}*/
.deposit-row .nopadding .row > [class*="col-"] {
    height:71px;
    vertical-align: middle;
     
}

.user .image-align {
    padding: 0;
    margin: 0;
    height: 60px;
    width: 60px;
   
}

/* CUSTOM BUTTONS */
.s-btn {
    padding: 14px 24px;
    height:48px;
    width:250px;
    border: 0 none;
    font-weight: 700;
    border-radius:10px;
    text-align:center;
     vertical-align:middle;
     cursor:pointer;
     display:inline-block;
}
 
.s-btn:focus, .s-btn:active:focus, .s-btn.active:focus {
    outline: 0 none;
}
 
.s-btn-primary {
    background: #3491d2;
    color: #ffffff;
}
 
.s-btn-primary:hover, .s-btn-primary:focus, .s-btn-primary:active, .s-btn-primary.active {
    background: #33a6cc;
}
.inline-block {
    display:inline-block;
}

.user .table > thead > tr > th, .table > tbody > tr > th ,.user .table > thead > tr > th, .table > tbody > tr > td {
    vertical-align:middle;
    height:60px;
}