.question {
    font-family: 'Open Sans', sans-serif;
    font-size:28px;
    line-height:48px;
    cursor:pointer;
    color:#3491D2;
}
.selected .question {
    color:#73c63a;
}
.normal .question {
    color:#3491D2;
}



.answer {
    color:black;
    font-family: 'Karla', sans-serif;
    font-size:16px;
    line-height:24px;
    display:none;
}

.arrow {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url(../images/arrow-right.png);
}

.selected .answer {
    display:block;
}
.selected .arrow {
    background-image: url(../images/arrow-down.png);
}
.row .custom_devider {
    margin: 20px 0; 
}